.ques1{
    color: red;
}

.ques2{
    color:brown;
}

.ques3{
    color:rebeccapurple
}

.ques4{
    color:blueviolet;
}

.ques5{
    color:crimson;
}
.ques6{
    color:chocolate;
}

.ques7{
    color:violet;
}
.ques8{
    color:tomato;
}
h2{
    color: blue;
}